* {
    margin: 0;
    padding: 0;
    color: #17202a;
}

main {
    width: 80%;
    margin: 0 auto;
}
/* Entête de la page */
header {
    padding: 2em;
}


/* Le formulaire */
#formulaire form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
    border-bottom: 2px solid;
}

#formulaire section {
    padding: 1em;
}

#formulaire label {
    display: none;
}

#formulaire input {
    border: none;
    outline: none;
    background-color: #f5b041;
    padding: 1em;
    border-radius: 0.375em;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#formulaire input:focus {
    background-color: #d6eaf8;
    border-bottom: 2px solid #17202a;
    padding-bottom: 0.875em;
}

#formulaire #button {
    background-color: #17202a;
    color: #f5b041    ;
    cursor: pointer;
}

#formulaire #button:hover {
    background-color:  #f5b041    ;
    color: #17202a;
}

#affichage {
    margin: 2em;
}

#affichage p {
    padding: 0.5em 1em;
    font-size: 1.1em;
    font-weight: bold
}

@media screen and (max-width: 300px) {
    #affichage {
        margin: 1em;
    }
    #affichage p {
        padding: 0.1em 0.4em;
    }
}